
.search-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    color: #0062D1;
    font-weight: normal;
  }

  .search-instruments form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  .search-boxes {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: self-start;
  }

  .search-box {
    border: 2px solid #F08A9D;
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .settings-icon {
    margin-right: 10px;
  }

  .search-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-button {
    background-color: white;
    border: 2px solid #F08A9D;
    border-radius: 10px;
    padding: 8px 20px;
    color: #AF0B52;
    font-weight: bold;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
  }

  .search-button:hover {
    background-color: #AF0B52;
    color: white;
    
  }

.vacs {
    margin: 30px 15%;
}

.title {
    margin: 10px 30px;
    font-size: 30px;
}

.description {
    margin: 10px 30px;
    font-size: 20px;
    font-style: italic;
}

.create-button {
    margin: 10px;
    padding: 10px;
    background-color: #0075FF;
    color: white;
    border: 2px solid #0075FF;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.create-button:hover {
  background-color: white;
  color: #0075FF;
}

.vac {
  color: inherit;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  color: #333;
}

.vacancy-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 60%;
  overflow: hidden;

}

.vacancy-header {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.vacancy-title {
  font-size: 24px;
  margin: 0 0 10px;
  color: #222;
}

.salary {
  font-size: 18px;
  font-weight: bold;
  color: #2c7be5;
  margin-bottom: 8px;
}

.company {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.location {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.location-icon {
  margin-right: 5px;
  color: #888;
}

.btn-container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.btn-apply {
  flex: 1; 
  padding: 12px;
  background-color: #2c7be5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-favorite {
  width: 50px;
  padding: 12px;
  background-color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}


.btn-apply:hover {
  background-color: #1a68d1;
}

