{% extends "main/base.html" %}

{% load static %}

{% block style %}
{% static "css/vac_style.css" %}
{% endblock %}

{% block title %}
Объявления
{% endblock %}

{% block nav_active %}
<a class="menu-item" href="/vacations">Вакансии</a>
<a class="menu-item active-menu-item" href="/advertisements">Объявления</a>
{% endblock %}

{% block content %}
<div class="main">
    <div class="search-section">
        <div class="search-title">
            <h2>Объявления в Ростове-на-Дону</h2>
            <button onclick="document.location='{% url 'create_ad' %}'" class="create-button">
                Опубликовать объявление
            </button>
        </div>  
        <div class="search-instruments">  
            <form method="get">
                <div class="search-boxes">
                    <input class="search-box" type="text" placeholder="🔍 Услуга, товар" name="title">
                    <input class="search-box" type="number" placeholder="Стоимость" name="price">
                </div>
                <button class="search-button">Найти</button>
            </form>
        </div>
    </div>
  </div>

  <div class="vacs">
    {% for el in ads %}
        <div class="vac">
            <div class="vacancy-card">
                <div class="vacancy-header">
                    <h1 class="vacancy-title">{{ el.title }}</h1>
                    <div class="salary">{{ el.price }} руб.</div>

                    
                    <div class="btn-container">
                        <button class="btn-apply" onclick="window.location.href='advertisement?id={{ el.ad_id }}'">Подробнее</button>
                    </div>
        
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}