<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <link rel="stylesheet" href="{% block style %}{% endblock %}">
</head>
<body>
  <div class="header">
    <button class="location-button">
        <img src="{% static "/svg/location-marker.svg" %}"><span class="city">Ростов-На-Дону<span>
    </button>
    
  </div>

  <div class="nav">
    <a class="label" href="/">
        <span class="site-label">
        Сайт<br>
        Вакансий<br>
        Объявлений<span class="red_I">И</span>
        </span>
    </a>
    <div class="menu">
      {% block nav_active %}
      <a class="menu-item" href="/vacations">Вакансии</a>
      <a class="menu-item" href="/advertisements">Объявления</a>
      {% endblock %}
    </div>
    
    {% if user.phone %}
    <button class="login-button" onclick="redictProfile()">Профиль: {{ user.firstname }}</button>
    {% else %}
    <button class="login-button" onclick="redictRegister()">Войти</button>
    {% endif %}
   

  </div>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

    <script>
      function redictRegister()
        {
            window.location.href = "{% url 'login' %}";
            return false;
        }
        function redictProfile()
        {
            window.location.href = "{% url 'profile' %}";
            return false;
        }
    </script>
</body>
</html>
