{% extends "main/base.html" %}

{% load static %}

{% block style %}
{% static "css/vac_style.css" %}
{% endblock %}

{% block title %}
Вакансии
{% endblock %}

{% block nav_active %}
<a class="menu-item active-menu-item" href="/vacations">Вакансии</a>
<a class="menu-item" href="/advertisements">Объявления</a>
{% endblock %}

{% block content %}
<div class="main">
    <div class="search-section">
        <h2>Работа в Ростове-на-Дону</h2>
        <div class="search-instruments">  
            <input class="search-box" type="text" placeholder="🔍 Профессия, должность">
            <span class="settings-icon">⚙️</span>
            <button class="search-button">Найти</button>
        </div>
    </div>
  </div>


    <div class="vacs">
    {% for el in vacs %}
        <div class="vac">
                <div class="title">
                    {{ el.title }}
                </div>
                <div class="description">
                    {{ el.description }}
                </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}