{% extends "main/base.html" %}

{% load static %}

{% block title %}
Авторизация
{% endblock %}

{% block style %}
{% static "css/register.css" %}
{% endblock style %}


{% block content %}
<div class='main'>
    <div class="registration-container">
        <form method="post">
            <h2 class="registration-title">Авторизация</h2>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit-btn">Авторизоваться</button>
            <a href="{% url 'register' %}">Нет с нами? Зарегистрируйтесь</a>

        </form>
    </div>
</div>
{% endblock content %}
