<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="register.css" rel="stylesheet">
</head>
<body>
    <div class="registration-container">
        <h1 class="registration-title">Авторизация</h1>
        
        <form>
            <div class="form-row">
                <label for="Nomer" class="form-label">Номер:</label>
                <input type="text" id="promotions" class="form-input" placeholder="Введите Ваш номер">
            </div>
            
            
            <div class="form-row">
                <label for="Password" class="form-label">Пароль:</label>
                <input type="text" id="for" class="form-input" placeholder="Например: *********">
            </div>

            <button type="submit" class="submit-btn">Авторизоваться</button>
            <div><a style="margin-left:30%; margin-top:10px;" href="#">Нет с нами? Зарегистрируйтесь!</a></div>
            
        </form>
    </div>
</body>
</html>